
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<title>Forgot Password</title>
</head>
<body>
	<script type="text/javascript">
		function manage(confirmPassword) {
			var bt = document.getElementById('btSubmit');
			var pass = document.getElementById("password");
			var cnfpass = document.getElementById("confirmPassword");
			// Validate length
			if (confirmPassword.value.length >= 8) {
				if (confirmPassword.value == pass.value) {
					bt.disabled = false;
				} else {
					bt.disabled = true;
				}
			}
		}
	</script>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-lock" style="font-size: 2em;"></i>
							</h3>
							<h2 class="text-center">Reset password</h2>
							<div class="panel-body">

								<div th:if="${error}">
									<div class="alert alert-danger">
										<span th:text="${error}"></span>
									</div>
								</div>

								<form th:action="@{/updatePassword}"
									th:object="${passwordUpdateForm}" method="post">

									<input type="hidden" name="securityToken"
										th:value="${securityToken}" />

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="password" class="form-control"
												placeholder="password" type="password" name="password"
												pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
										</div>

									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="confirmPassword" class="form-control"
												placeholder="Confirm password" type="password"
												name="confirmPassword"
												pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
												onkeyup="manage(this)" required />
										</div>
									</div>
									<div class="form-group">
										<button id="btSubmit" name="btSubmit" type="submit"
											class="btn btn-block btn-success" disabled>Reset
											password</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>