<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	function getURLParameter(name) {
		return decodeURIComponent((RegExp(name + '=' + '(.+?)(&|$)', 'i').exec(
				location.search) || [ , "" ])[1]);
	}

	var tech = getURLParameter('googleToken');
	console.log(tech);
	function sendStatus(tech) {
		app.loginStatus(tech);
	};
</script>
</head>
<body>
	<p>{</p>
	<p>
		"googleToken " :
		<script type="text/javascript">
			document.write(tech)
		</script>
	</p>
	<p>}</p>
</body>
</html>